* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(120deg, #3498db, #2980b9);
  display: flex;
  flex: 1;
  height: 80px;
}

.header h2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  color: #eee;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
}

.card img {
  height: 400px;
  width: 300px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
}
